*{
    text-decoration: none !important;
}
#footer_container{
   
    background-color: #4e4e4e;
   
}
ul{
    font-size: 13px;
    margin-top: 50px !important;
    line-height: 30px;
    color: rgb(30, 30, 30) !important;
}
#footer_container li{
    list-style: none;
    color: rgb(241, 239, 239) !important;
    line-height: 30px;
}
#img{
    margin-top: 30px;
    margin-left: 50px !important;
}
#h4{
    font-size: 22px;
    color: white !important;
}
span img{
    border-radius: 60px;
    justify-content: space-around;
    color: white !important;
    margin-left: 10px;
    margin-top: 6px;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}
span{
    margin-left: -10px;
}
img:hover{
    cursor: pointer;
    color: rgb(132, 133, 133) !important;
    
}
#footer_container li:hover{
    cursor: pointer;
    color: rgb(152, 151, 151) !important;
   
}
span img:hover{
    cursor: pointer;
    background-color: rgb(95, 95, 95) !important;
   padding: 3px;
    border-radius: 50px;
}
#address{
  padding: 5px;
}
#location img{
  margin-top: 30px;
  margin-left:90px;
  font-size: 50px;
  color: white !important;
  border-radius: 50px;
}

#location img:hover{
  cursor: pointer;
  background-color: rgb(95, 95, 95) !important;
 padding: 6px;
  border-radius: 50px;
  transition: 1s;
}

