#nav-whatsapp{
  font-size: 25px;
  background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    padding: 2px;
}
#navbar-container{
  height: 60px;
}
#button-2{
  width: 220px;
 font-size: 18px;
 padding: 10px;
 border-radius: 3px;
 font-family: "Unna", serif;
 
}
#button-1{
  width: 200px;
 font-size: 15px;
 padding: 6px;
 border-radius: 5px;
 font-family: "Unna", serif;
 
}
#button-1 {
 color: #fff;
 border: 3px solid #4e4e4e;
 background-image: -webkit-linear-gradient(30deg, #4e4e4e 50%, transparent 50%);
 background-image: linear-gradient(30deg, #404243 50%, transparent 50%);
 background-size: 500px;
 background-repeat: no-repeat;
 background-position: 0%;
 -webkit-transition: background 300ms ease-in-out;
 transition: background 300ms ease-in-out;
 margin-left: -25px;
 border-radius: 10px;
}

#button-1:hover {
 background-position: 100%;
 color: #4e4e4e;
 font-family: "Unna", serif;
}